@-webkit-keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@-webkit-keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
@keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
@-webkit-keyframes flickon {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999%,
  30%,
  100% {
    opacity: 1.0;
  }
}
@keyframes flickon {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999%,
  30%,
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes flickonscreen {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999% {
    opacity: 0.5;
    color: #ecddc5;
  }
  30%,
  99.999% {
    opacity: 1.0;
  }
  100% {
    color: #f4dfbd;
  }
}
@keyframes flickonscreen {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999% {
    opacity: 0.5;
    color: #ecddc5;
  }
  30%,
  99.999% {
    opacity: 1.0;
  }
  100% {
    color: #f4dfbd;
  }
}


@-webkit-keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@-webkit-keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
@keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
@-webkit-keyframes flickon {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999%,
  30%,
  100% {
    opacity: 1.0;
  }
}
@keyframes flickon {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999%,
  30%,
  100% {
    opacity: 1.0;
  }
}
@-webkit-keyframes flickonscreen {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999% {
    opacity: 0.5;
    color: #ecddc5;
  }
  30%,
  99.999% {
    opacity: 1.0;
  }
  100% {
    color: #f4dfbd;
  }
}
@keyframes flickonscreen {
  0%,
  19.999%,
  25%,
  29.999% {
    opacity: 0.0;
  }
  20%,
  24.999% {
    opacity: 0.5;
    color: #ecddc5;
  }
  30%,
  99.999% {
    opacity: 1.0;
  }
  100% {
    color: #f4dfbd;
  }
}
body {
  position: relative;
  font-family: Verdana;
  font-size: 25px;
  color: #fff;
  margin: 0;
  background: #000;
}
#xandar {
  position: absolute;
  top: 30px;
  left: 30px;
}
#earth {
  position: absolute;
  top: 140px;
  left: 130px;
}
#mars {
  position: absolute;
  top: 80px;
  left: 240px;
}
#phobos {
  position: absolute;
  top: 260px;
  left: 70px;
}
#deimos {
  position: absolute;
  top: 310px;
  left: 340px;
}
.scifi {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  height: 41px;
}
.scifi .inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 0%;
  height: 25px;
  padding: 8px 34px 8px 8px;
  cursor: pointer;
  -webkit-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.scifi .inner .text {
  position: relative;
  display: block;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0;
  color: #f4dfbd;
  background: -webkit-linear-gradient(transparent, transparent), url(../img/text-mask.png) repeat 0 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
  padding: 0;
  -webkit-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.scifi .inner .text span {
  padding-right: 0;
  text-shadow: 0 0 2px rgba(244, 223, 189, 0.9);
  opacity: 0;
  -webkit-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
}
.scifi .inner .corner {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 1;
  -webkit-transition: opacity 750ms linear;
  -moz-transition: opacity 750ms linear;
  -ms-transition: opacity 750ms linear;
  -o-transition: opacity 750ms linear;
  transition: opacity 750ms linear;
}
.scifi .inner .corner .h,
.scifi .inner .corner .v {
  position: absolute;
  background: #f4dfbd url(../img/text-mask.png) repeat 0 0;
  -webkit-box-shadow: 0 0 2px 0 #f4dfbd;
  box-shadow: 0 0 2px 0 #f4dfbd;
}
.scifi .inner .corner .h {
  width: 10px;
  height: 1px;
}
.scifi .inner .corner .v {
  width: 1px;
  height: 10px;
}
.scifi .inner .corner.I {
  top: 1px;
  left: 1px;
}
.scifi .inner .corner.I .h,
.scifi .inner .corner.I .v {
  top: 0;
  left: 0;
}
.scifi .inner .corner.II {
  top: 1px;
  right: 1px;
}
.scifi .inner .corner.II .h,
.scifi .inner .corner.II .v {
  top: 0;
  right: 0;
}
.scifi .inner .corner.III {
  bottom: 1px;
  right: 1px;
}
.scifi .inner .corner.III .h,
.scifi .inner .corner.III .v {
  bottom: 0;
  right: 0;
}
.scifi .inner .corner.IV {
  bottom: 1px;
  left: 1px;
}
.scifi .inner .corner.IV .h,
.scifi .inner .corner.IV .v {
  bottom: 0;
  left: 0;
}
.scifi .inner:hover {
  width: 100%;
  padding: 8px 0 8px 8px;
}
.scifi .inner:hover .text {
  opacity: 1;
  padding: 0 3px 0 0;
}
.scifi .inner:hover .text span {
  opacity: 1;
}
.scifi .inner:hover .text span:nth-child(5n) {
  -webkit-transition: opacity 0s linear 75ms;
  -moz-transition: opacity 0s linear 75ms;
  -ms-transition: opacity 0s linear 75ms;
  -o-transition: opacity 0s linear 75ms;
  transition: opacity 0s linear 75ms;
  -webkit-animation: warmup 750ms linear 75ms;
  animation: warmup 750ms linear 75ms;
}
.scifi .inner:hover .text span:nth-child(5n+1) {
  -webkit-transition: opacity 0s linear 375ms;
  -moz-transition: opacity 0s linear 375ms;
  -ms-transition: opacity 0s linear 375ms;
  -o-transition: opacity 0s linear 375ms;
  transition: opacity 0s linear 375ms;
  -webkit-animation: warmup 750ms linear 375ms;
  animation: warmup 750ms linear 375ms;
}
.scifi .inner:hover .text span:nth-child(5n+2) {
  -webkit-transition: opacity 0s linear 225ms;
  -moz-transition: opacity 0s linear 225ms;
  -ms-transition: opacity 0s linear 225ms;
  -o-transition: opacity 0s linear 225ms;
  transition: opacity 0s linear 225ms;
  -webkit-animation: warmup 750ms linear 225ms;
  animation: warmup 750ms linear 225ms;
}
.scifi .inner:hover .text span:nth-child(5n+3) {
  -webkit-transition: opacity 0s linear 150ms;
  -moz-transition: opacity 0s linear 150ms;
  -ms-transition: opacity 0s linear 150ms;
  -o-transition: opacity 0s linear 150ms;
  transition: opacity 0s linear 150ms;
  -webkit-animation: warmup 750ms linear 150ms;
  animation: warmup 750ms linear 150ms;
}
.scifi .inner:hover .text span:nth-child(5n+4) {
  -webkit-transition: opacity 0s linear 525ms;
  -moz-transition: opacity 0s linear 525ms;
  -ms-transition: opacity 0s linear 525ms;
  -o-transition: opacity 0s linear 525ms;
  transition: opacity 0s linear 525ms;
  -webkit-animation: warmup 750ms linear 525ms;
  animation: warmup 750ms linear 525ms;
}
.scifi .inner:hover .corner {
  opacity: 0;
}
.scifi .inner:hover .corner.I {
  -webkit-transition: opacity 0s linear 1350ms;
  -moz-transition: opacity 0s linear 1350ms;
  -ms-transition: opacity 0s linear 1350ms;
  -o-transition: opacity 0s linear 1350ms;
  transition: opacity 0s linear 1350ms;
  -webkit-animation: burnout 750ms linear 1350ms;
  animation: burnout 750ms linear 1350ms;
}
.scifi .inner:hover .corner.II {
  -webkit-transition: opacity 0s linear 1200ms;
  -moz-transition: opacity 0s linear 1200ms;
  -ms-transition: opacity 0s linear 1200ms;
  -o-transition: opacity 0s linear 1200ms;
  transition: opacity 0s linear 1200ms;
  -webkit-animation: burnout 750ms linear 1200ms;
  animation: burnout 750ms linear 1200ms;
}
.scifi .inner:hover .corner.III {
  -webkit-transition: opacity 0s linear 1050ms;
  -moz-transition: opacity 0s linear 1050ms;
  -ms-transition: opacity 0s linear 1050ms;
  -o-transition: opacity 0s linear 1050ms;
  transition: opacity 0s linear 1050ms;
  -webkit-animation: burnout 750ms linear 1050ms;
  animation: burnout 750ms linear 1050ms;
}
.scifi .inner:hover .corner.IV {
  -webkit-transition: opacity 0s linear 825ms;
  -moz-transition: opacity 0s linear 825ms;
  -ms-transition: opacity 0s linear 825ms;
  -o-transition: opacity 0s linear 825ms;
  transition: opacity 0s linear 825ms;
  -webkit-animation: burnout 750ms linear 825ms;
  animation: burnout 750ms linear 825ms;
}
.planet {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}
.planet > .inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 0%;
  height: 42px;
  width: 42px;
  cursor: pointer;
}
.planet > .inner .corner {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 1;
  -webkit-transition: opacity 750ms linear;
  -moz-transition: opacity 750ms linear;
  -ms-transition: opacity 750ms linear;
  -o-transition: opacity 750ms linear;
  transition: opacity 750ms linear;
}
.planet > .inner .corner .h,
.planet > .inner .corner .v {
  position: absolute;
  background: #f4dfbd url(../img/text-mask.png) repeat 0 0;
  -webkit-box-shadow: 0 0 2px 0 #f4dfbd;
  box-shadow: 0 0 2px 0 #f4dfbd;
}
.planet > .inner .corner .h {
  width: 10px;
  height: 1px;
}
.planet > .inner .corner .v {
  width: 1px;
  height: 10px;
}
.planet > .inner .corner.I {
  top: 1px;
  left: 1px;
}
.planet > .inner .corner.I .h,
.planet > .inner .corner.I .v {
  top: 0;
  left: 0;
}
.planet > .inner .corner.II {
  top: 1px;
  right: 1px;
}
.planet > .inner .corner.II .h,
.planet > .inner .corner.II .v {
  top: 0;
  right: 0;
}
.planet > .inner .corner.III {
  bottom: 1px;
  right: 1px;
}
.planet > .inner .corner.III .h,
.planet > .inner .corner.III .v {
  bottom: 0;
  right: 0;
}
.planet > .inner .corner.IV {
  bottom: 1px;
  left: 1px;
}
.planet > .inner .corner.IV .h,
.planet > .inner .corner.IV .v {
  bottom: 0;
  left: 0;
}
.planet > .inner .body {
  position: absolute;
  top: 12px;
  left: 12px;
  right: 12px;
  bottom: 12px;
  background: -webkit-gradient(radial, center center, 0, center center, 10, from(#aa8e74), to(#433130));
  background: -webkit-radial-gradient(circle, #aa8e74, #433130);
  background: -moz-radial-gradient(circle, #aa8e74, #433130);
  background: -ms-radial-gradient(circle, #aa8e74, #433130);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  -webkit-box-shadow: 0 0 8px -1px #ffffff;
  box-shadow: 0 0 8px -1px #ffffff;
}
.planet > .inner .line {
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin: 0 0 -1px -14px;
}
.planet > .inner .line .seg1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 1.5px;
  overflow: hidden;
  opacity: 0;
  -webkit-box-shadow: 0 0 2px 0 #f4dfbd;
  box-shadow: 0 0 2px 0 #f4dfbd;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
}
.planet > .inner .line .seg1 .bg {
  position: absolute;
  top: -20px;
  left: -20px;
  width: 200%;
  height: 100px;
  background: #f4dfbd url(../img/text-mask.png) repeat 0 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
}
.planet > .inner .line .seg2 {
  position: absolute;
  top: -7px;
  left: 21px;
}
.planet > .inner .line .seg2 > .inner {
  position: absolute;
  bottom: 0;
  left: 0;
}
.planet > .inner .line .seg2 .bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 1px;
  background: #f4dfbd url(../img/text-mask.png) repeat 0 0;
  -webkit-box-shadow: 0 0 2px 0 #f4dfbd;
  box-shadow: 0 0 2px 0 #f4dfbd;
}
.planet > .inner .line .seg2 .text {
  display: block;
  padding: 0 5px 5px 5px;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0;
  color: #f4dfbd;
  background: -webkit-linear-gradient(transparent, transparent), url(../img/text-mask.png) repeat 0 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
.planet > .inner .line .seg2 .text span {
  padding-right: 0;
  text-shadow: 0 0 2px rgba(244, 223, 189, 0.9);
  opacity: 0;
  -webkit-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
}
.planet > .inner .line .seg2 .desc {
  position: absolute;
  top: 34px;
  right: 5px;
  text-align: right;
  color: #f4dfbd;
  background: -webkit-linear-gradient(transparent, transparent), url(../img/text-mask.png) repeat 0 0;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  text-fill-color: transparent;
}
.planet > .inner .line .seg2 .desc span {
  display: block;
  font-size: 10px;
  line-height: 140%;
  text-shadow: 0 0 1px rgba(244, 223, 189, 0.9);
  opacity: 0;
  -webkit-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 375ms cubic-bezier(0.23, 1, 0.32, 1);
}
.planet > .inner.debug,
.planet > .inner:hover {
  overflow: visible;
}
.planet > .inner.debug .corner,
.planet > .inner:hover .corner {
  opacity: 0;
}
.planet > .inner.debug .corner.I,
.planet > .inner:hover .corner.I {
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  -ms-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
  -webkit-animation: burnout 375ms linear;
  animation: burnout 375ms linear;
}
.planet > .inner.debug .corner.II,
.planet > .inner:hover .corner.II {
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  -ms-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
  -webkit-animation: burnout 0 linear;
  animation: burnout 0 linear;
}
.planet > .inner.debug .corner.III,
.planet > .inner:hover .corner.III {
  -webkit-transition: opacity 0s linear 75ms;
  -moz-transition: opacity 0s linear 75ms;
  -ms-transition: opacity 0s linear 75ms;
  -o-transition: opacity 0s linear 75ms;
  transition: opacity 0s linear 75ms;
  -webkit-animation: burnout 375ms linear 75ms;
  animation: burnout 375ms linear 75ms;
}
.planet > .inner.debug .corner.IV,
.planet > .inner:hover .corner.IV {
  -webkit-transition: opacity 0s linear 225ms;
  -moz-transition: opacity 0s linear 225ms;
  -ms-transition: opacity 0s linear 225ms;
  -o-transition: opacity 0s linear 225ms;
  transition: opacity 0s linear 225ms;
  -webkit-animation: burnout 225ms linear 150ms;
  animation: burnout 225ms linear 150ms;
}
.planet > .inner.debug .line .seg1,
.planet > .inner:hover .line .seg1 {
  opacity: 1;
  -webkit-transition: opacity 0s linear 375ms;
  -moz-transition: opacity 0s linear 375ms;
  -ms-transition: opacity 0s linear 375ms;
  -o-transition: opacity 0s linear 375ms;
  transition: opacity 0s linear 375ms;
  -webkit-animation: flickon 750ms linear 375ms;
  animation: flickon 750ms linear 375ms;
}
.planet > .inner.debug .line .seg2 .bar,
.planet > .inner:hover .line .seg2 .bar {
  width: 100%;
  opacity: 1;
  -webkit-transition: width 375ms cubic-bezier(0.23, 1, 0.32, 1) 800ms;
  -moz-transition: width 375ms cubic-bezier(0.23, 1, 0.32, 1) 800ms;
  -ms-transition: width 375ms cubic-bezier(0.23, 1, 0.32, 1) 800ms;
  -o-transition: width 375ms cubic-bezier(0.23, 1, 0.32, 1) 800ms;
  transition: width 375ms cubic-bezier(0.23, 1, 0.32, 1) 800ms;
}
.planet > .inner.debug .line .seg2 .text span,
.planet > .inner:hover .line .seg2 .text span {
  opacity: 1;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n) {
  -webkit-transition: opacity 0s linear 875ms;
  -moz-transition: opacity 0s linear 875ms;
  -ms-transition: opacity 0s linear 875ms;
  -o-transition: opacity 0s linear 875ms;
  transition: opacity 0s linear 875ms;
  -webkit-animation: flickonscreen 750ms linear 875ms;
  animation: flickonscreen 750ms linear 875ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+1),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+1) {
  -webkit-transition: opacity 0s linear 875ms;
  -moz-transition: opacity 0s linear 875ms;
  -ms-transition: opacity 0s linear 875ms;
  -o-transition: opacity 0s linear 875ms;
  transition: opacity 0s linear 875ms;
  -webkit-animation: flickonscreen 750ms linear 875ms;
  animation: flickonscreen 750ms linear 875ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+2),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+2) {
  -webkit-transition: opacity 0s linear 875ms;
  -moz-transition: opacity 0s linear 875ms;
  -ms-transition: opacity 0s linear 875ms;
  -o-transition: opacity 0s linear 875ms;
  transition: opacity 0s linear 875ms;
  -webkit-animation: flickonscreen 750ms linear 875ms;
  animation: flickonscreen 750ms linear 875ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+3),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+3) {
  -webkit-transition: opacity 0s linear 1025ms;
  -moz-transition: opacity 0s linear 1025ms;
  -ms-transition: opacity 0s linear 1025ms;
  -o-transition: opacity 0s linear 1025ms;
  transition: opacity 0s linear 1025ms;
  -webkit-animation: flickonscreen 750ms linear 950ms;
  animation: flickonscreen 750ms linear 950ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+4),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+4) {
  -webkit-transition: opacity 0s linear 875ms;
  -moz-transition: opacity 0s linear 875ms;
  -ms-transition: opacity 0s linear 875ms;
  -o-transition: opacity 0s linear 875ms;
  transition: opacity 0s linear 875ms;
  -webkit-animation: flickonscreen 750ms linear 875ms;
  animation: flickonscreen 750ms linear 875ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+5),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+5) {
  -webkit-transition: opacity 0s linear 950ms;
  -moz-transition: opacity 0s linear 950ms;
  -ms-transition: opacity 0s linear 950ms;
  -o-transition: opacity 0s linear 950ms;
  transition: opacity 0s linear 950ms;
  -webkit-animation: flickonscreen 750ms linear 950ms;
  animation: flickonscreen 750ms linear 950ms;
}
.planet > .inner.debug .line .seg2 .text span:nth-child(5n+7),
.planet > .inner:hover .line .seg2 .text span:nth-child(5n+7) {
  -webkit-transition: opacity 0s linear 875ms;
  -moz-transition: opacity 0s linear 875ms;
  -ms-transition: opacity 0s linear 875ms;
  -o-transition: opacity 0s linear 875ms;
  transition: opacity 0s linear 875ms;
  -webkit-animation: flickonscreen 750ms linear 875ms;
  animation: flickonscreen 750ms linear 875ms;
}
.planet > .inner.debug .line .seg2 .desc span,
.planet > .inner:hover .line .seg2 .desc span {
  opacity: 1;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 15),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 15) {
  -webkit-transition: opacity 0s linear 5750ms;
  -moz-transition: opacity 0s linear 5750ms;
  -ms-transition: opacity 0s linear 5750ms;
  -o-transition: opacity 0s linear 5750ms;
  transition: opacity 0s linear 5750ms;
  -webkit-animation: flickonscreen 750ms linear 5750ms;
  animation: flickonscreen 750ms linear 5750ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 14),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 14) {
  -webkit-transition: opacity 0s linear 5450ms;
  -moz-transition: opacity 0s linear 5450ms;
  -ms-transition: opacity 0s linear 5450ms;
  -o-transition: opacity 0s linear 5450ms;
  transition: opacity 0s linear 5450ms;
  -webkit-animation: flickonscreen 750ms linear 5450ms;
  animation: flickonscreen 750ms linear 5450ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 13),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 13) {
  -webkit-transition: opacity 0s linear 5150ms;
  -moz-transition: opacity 0s linear 5150ms;
  -ms-transition: opacity 0s linear 5150ms;
  -o-transition: opacity 0s linear 5150ms;
  transition: opacity 0s linear 5150ms;
  -webkit-animation: flickonscreen 750ms linear 5150ms;
  animation: flickonscreen 750ms linear 5150ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 12),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 12) {
  -webkit-transition: opacity 0s linear 4850ms;
  -moz-transition: opacity 0s linear 4850ms;
  -ms-transition: opacity 0s linear 4850ms;
  -o-transition: opacity 0s linear 4850ms;
  transition: opacity 0s linear 4850ms;
  -webkit-animation: flickonscreen 750ms linear 4850ms;
  animation: flickonscreen 750ms linear 4850ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 11),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 11) {
  -webkit-transition: opacity 0s linear 4550ms;
  -moz-transition: opacity 0s linear 4550ms;
  -ms-transition: opacity 0s linear 4550ms;
  -o-transition: opacity 0s linear 4550ms;
  transition: opacity 0s linear 4550ms;
  -webkit-animation: flickonscreen 750ms linear 4550ms;
  animation: flickonscreen 750ms linear 4550ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 10),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 10) {
  -webkit-transition: opacity 0s linear 4250ms;
  -moz-transition: opacity 0s linear 4250ms;
  -ms-transition: opacity 0s linear 4250ms;
  -o-transition: opacity 0s linear 4250ms;
  transition: opacity 0s linear 4250ms;
  -webkit-animation: flickonscreen 750ms linear 4250ms;
  animation: flickonscreen 750ms linear 4250ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 9),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 9) {
  -webkit-transition: opacity 0s linear 3950ms;
  -moz-transition: opacity 0s linear 3950ms;
  -ms-transition: opacity 0s linear 3950ms;
  -o-transition: opacity 0s linear 3950ms;
  transition: opacity 0s linear 3950ms;
  -webkit-animation: flickonscreen 750ms linear 3950ms;
  animation: flickonscreen 750ms linear 3950ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 8),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 8) {
  -webkit-transition: opacity 0s linear 3650ms;
  -moz-transition: opacity 0s linear 3650ms;
  -ms-transition: opacity 0s linear 3650ms;
  -o-transition: opacity 0s linear 3650ms;
  transition: opacity 0s linear 3650ms;
  -webkit-animation: flickonscreen 750ms linear 3650ms;
  animation: flickonscreen 750ms linear 3650ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 7),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 7) {
  -webkit-transition: opacity 0s linear 3350ms;
  -moz-transition: opacity 0s linear 3350ms;
  -ms-transition: opacity 0s linear 3350ms;
  -o-transition: opacity 0s linear 3350ms;
  transition: opacity 0s linear 3350ms;
  -webkit-animation: flickonscreen 750ms linear 3350ms;
  animation: flickonscreen 750ms linear 3350ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 6),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 6) {
  -webkit-transition: opacity 0s linear 3050ms;
  -moz-transition: opacity 0s linear 3050ms;
  -ms-transition: opacity 0s linear 3050ms;
  -o-transition: opacity 0s linear 3050ms;
  transition: opacity 0s linear 3050ms;
  -webkit-animation: flickonscreen 750ms linear 3050ms;
  animation: flickonscreen 750ms linear 3050ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 5),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 5) {
  -webkit-transition: opacity 0s linear 2750ms;
  -moz-transition: opacity 0s linear 2750ms;
  -ms-transition: opacity 0s linear 2750ms;
  -o-transition: opacity 0s linear 2750ms;
  transition: opacity 0s linear 2750ms;
  -webkit-animation: flickonscreen 750ms linear 2750ms;
  animation: flickonscreen 750ms linear 2750ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 4),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 4) {
  -webkit-transition: opacity 0s linear 2450ms;
  -moz-transition: opacity 0s linear 2450ms;
  -ms-transition: opacity 0s linear 2450ms;
  -o-transition: opacity 0s linear 2450ms;
  transition: opacity 0s linear 2450ms;
  -webkit-animation: flickonscreen 750ms linear 2450ms;
  animation: flickonscreen 750ms linear 2450ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 3),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 3) {
  -webkit-transition: opacity 0s linear 2150ms;
  -moz-transition: opacity 0s linear 2150ms;
  -ms-transition: opacity 0s linear 2150ms;
  -o-transition: opacity 0s linear 2150ms;
  transition: opacity 0s linear 2150ms;
  -webkit-animation: flickonscreen 750ms linear 2150ms;
  animation: flickonscreen 750ms linear 2150ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 2),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 2) {
  -webkit-transition: opacity 0s linear 1850ms;
  -moz-transition: opacity 0s linear 1850ms;
  -ms-transition: opacity 0s linear 1850ms;
  -o-transition: opacity 0s linear 1850ms;
  transition: opacity 0s linear 1850ms;
  -webkit-animation: flickonscreen 750ms linear 1850ms;
  animation: flickonscreen 750ms linear 1850ms;
}
.planet > .inner.debug .line .seg2 .desc span:nth-child( 1),
.planet > .inner:hover .line .seg2 .desc span:nth-child( 1) {
  -webkit-transition: opacity 0s linear 1550ms;
  -moz-transition: opacity 0s linear 1550ms;
  -ms-transition: opacity 0s linear 1550ms;
  -o-transition: opacity 0s linear 1550ms;
  transition: opacity 0s linear 1550ms;
  -webkit-animation: flickonscreen 750ms linear 1550ms;
  animation: flickonscreen 750ms linear 1550ms;
}

