body {
  position: relative;
  font-family: Verdana;
  font-size: 25px;
  color: #fff;
  margin: 0;
  background: #000;
}
#xandar {
  position: absolute;
  top: 30px;
  left: 30px;
}
#earth {
  position: absolute;
  top: 140px;
  left: 130px;
}
.scifi {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  height: 41px;
}
.scifi .inner {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 0%;
  height: 25px;
  padding: 7px 32px 7px 8px;
  cursor: pointer;
  -webkit-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1) , width 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.scifi .inner .text {
  position: relative;
  display: block;
  color: #f4dfbd;
  font-size: 25px;
  line-height: 25px;
  font-weight: 700;
  letter-spacing: 0;
  padding: 0;
  -webkit-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -moz-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -ms-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
  -o-transition: padding 750ms cubic-bezier(0.23, 1, 0.32, 1);
}
.scifi .inner .text span {
  padding-right: 0;
  text-shadow: 0 0 3px #f4dfbd;
  opacity: 0;
}
.scifi .inner .corner {
  position: absolute;
  width: 10px;
  height: 10px;
  -webkit-animation: warmup 750ms linear 750ms backwards;
  animation: warmup 750ms linear 750ms backwards;
}
.scifi .inner .corner.I {
  top: 0;
  left: 0;
  border-top: 1px solid #f4dfbd;
  border-left: 1px solid #f4dfbd;
}
.scifi .inner .corner.II {
  top: 0;
  right: 0;
  border-top: 1px solid #f4dfbd;
  border-right: 1px solid #f4dfbd;
}
.scifi .inner .corner.III {
  bottom: 0;
  right: 0;
  border-bottom: 1px solid #f4dfbd;
  border-right: 1px solid #f4dfbd;
}
.scifi .inner .corner.IV {
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #f4dfbd;
  border-left: 1px solid #f4dfbd;
}
.scifi .inner:hover {
  width: 100%;
  padding: 7px 0 7px 8px;
}
.scifi .inner:hover .text {
  opacity: 1;
  padding: 0 3px 0 0;
}
.scifi .inner:hover .text span:nth-child(5n) {
  -webkit-animation: warmup 750ms linear 75ms forwards;
  animation: warmup 750ms linear 75ms forwards;
}
.scifi .inner:hover .text span:nth-child(5n+1) {
  -webkit-animation: warmup 750ms linear 375ms forwards;
  animation: warmup 750ms linear 375ms forwards;
}
.scifi .inner:hover .text span:nth-child(5n+2) {
  -webkit-animation: warmup 750ms linear 225ms forwards;
  animation: warmup 750ms linear 225ms forwards;
}
.scifi .inner:hover .text span:nth-child(5n+3) {
  -webkit-animation: warmup 750ms linear 150ms forwards;
  animation: warmup 750ms linear 150ms forwards;
}
.scifi .inner:hover .text span:nth-child(5n+4) {
  -webkit-animation: warmup 750ms linear 525ms forwards;
  animation: warmup 750ms linear 525ms forwards;
}
.scifi .inner:hover .corner.I {
  -webkit-animation: burnout 750ms linear 1350ms forwards;
  animation: burnout 750ms linear 1350ms forwards;
}
.scifi .inner:hover .corner.II {
  -webkit-animation: burnout 750ms linear 1200ms forwards;
  animation: burnout 750ms linear 1200ms forwards;
}
.scifi .inner:hover .corner.III {
  -webkit-animation: burnout 750ms linear 1050ms forwards;
  animation: burnout 750ms linear 1050ms forwards;
}
.scifi .inner:hover .corner.IV {
  -webkit-animation: burnout 750ms linear 825ms forwards;
  animation: burnout 750ms linear 825ms forwards;
}
@-webkit-keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@keyframes warmup {
  0% {
    opacity: 0;
  }
  55%,
  85% {
    opacity: 0.7;
    color: #ecddc5;
  }
  40%,
  50%,
  90%,
  100% {
    opacity: 1.0;
    color: #f4dfbd;
  }
}
@-webkit-keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
@keyframes burnout {
  0%,
  29.999%,
  44%,
  49.999%,
  54%,
  99% {
    opacity: 1.0;
  }
  40%,
  43.999%,
  50%,
  53.999%,
  100% {
    opacity: 0.0;
  }
}
