.animation(@string) {
	-webkit-animation: @string;
	animation: @string;
}

.transform(@string) {
	-webkit-transform: @string;
	-moz-transform: @string;
	-ms-transform: @string;
	-o-transform: @string;
}

.transition(@transition) {
	-webkit-transition: @transition;  
	-moz-transition: @transition;
	-ms-transition: @transition; 
	-o-transition: @transition;  
}

.transition-transform(@transition) {
	-webkit-transition: -webkit-transform @transition;
	-moz-transition: -moz-transform @transition;
	-ms-transition: -ms-transform @transition;
	-o-transition: -o-transform @transition;
}

@ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000);
@ease-out-quint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
@duration: 750ms;
@color: #f4dfbd;

body {
	position: relative;
	font-family: Verdana;
	font-size: 25px;
	color: #fff;
	margin: 0;
	background: #000;
}

#xandar {
	position: absolute;
	top: 30px;
	left: 30px;
}

#earth {
	position: absolute;
	top: 140px;
	left: 130px;
}

.scifi {
	position: relative;
	display: inline-block;
	white-space:nowrap;
	
	height: 41px;
	
	.inner {
		position: relative;
		display: inline-block;
		overflow: hidden;
		
		width: 0%;
		height: 25px;
		padding: 7px 32px 7px 8px;
		cursor: pointer;
		
		.transition(padding @duration @ease-out-quint~"," width @duration @ease-out-quint);
		
		.text {
			position: relative;
			display: block;
			color: @color;
			font-size: 25px;
			line-height: 25px;
			font-weight: 700;
			letter-spacing: 0;
			
			padding: 0;
			
			.transition(padding @duration @ease-out-quint);
			
			span {
				padding-right: 0;
				text-shadow: 0 0 3px @color;
				opacity: 0;
			}
		}
		
		.corner {
			position: absolute;
			width: 10px;
			height: 10px;
			
			.animation(warmup @duration linear @duration backwards);
				
			&.I {
				top: 0;
				left: 0;
				border-top: 1px solid @color;
				border-left: 1px solid @color;
			}
			
			&.II {
				top: 0;
				right: 0;
				border-top: 1px solid @color;
				border-right: 1px solid @color;
			}
			
			&.III {
				bottom: 0;
				right: 0;
				border-bottom: 1px solid @color;
				border-right: 1px solid @color;
			}
			
			&.IV {
				bottom: 0;
				left: 0;
				border-bottom: 1px solid @color;
				border-left: 1px solid @color;
			}
		}
		
		&:hover {
			width: 100%;
			padding: 7px 0 7px 8px;
			
			.text {
				opacity: 1;
				padding: 0 3px 0 0;
				
				span {
					&:nth-child(5n) {
						.animation(warmup @duration linear @duration*0.1 forwards);
					}
					
					&:nth-child(5n+1) {
						.animation(warmup @duration linear @duration*0.5 forwards);
					}
					
					&:nth-child(5n+2) {
						.animation(warmup @duration linear @duration*0.3 forwards);
					}
					
					&:nth-child(5n+3) {
						.animation(warmup @duration linear @duration*0.2 forwards);
					}
					
					&:nth-child(5n+4) {
						.animation(warmup @duration linear @duration*0.7 forwards);
					}
				}
			}
			
			.corner {
				
				&.I {
					.animation(burnout @duration linear @duration*1.8 forwards);
				}
				
				&.II {
					.animation(burnout @duration linear @duration*1.6 forwards);
				}
				
				&.III {
					.animation(burnout @duration linear @duration*1.4 forwards);
				}
				
				&.IV {
					.animation(burnout @duration linear @duration*1.1 forwards);
				}
			}
		}
		
	}
}

.warmup() {
	
	0% {
		opacity: 0;
	}

	55%,85%, {
		opacity: 0.7;
		color: desaturate(@color, 20%);
	}
	
	40%,50%,90%,100% {
		opacity: 1.0;
		color: @color;
	}
	
}

@-webkit-keyframes warmup { .warmup(); }
@keyframes warmup { .warmup(); }

.burnout() {
	
	0%,29.999%,44%,49.999%,54%,99% {
		opacity: 1.0;
	}
	
	40%,43.999%,50%,53.999%,100% {
		opacity: 0.0;
	}
	
}

@-webkit-keyframes burnout { .burnout(); }

@keyframes burnout { .burnout(); }